// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 1px solid black;
  table-layout: fixed;
  width: 500px;
  column-width: 150px;

  th, td {
    padding: 10px;
    width: 100px;
    text-align: left;
  }
}
